[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
python-dotenv = "*"
psycopg = "~=3.1.0"
djangorestframework = "~=3.15.0"
django-cors-headers = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
django-channels2-jsonrpc = "*"
django-redis = "~=5.0"
ua-parser = "*"
pottery = "*"
djangorestframework-simplejwt = "*"
six = "*"

[dev-packages]

[requires]
